@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --font-stack: 'Open Sans', sans-serif;
  --primary-color: #fb3640;
  --color-text: #292929;
  --td-bg: #cfcfcf;
  --th-bg: #542e71;
  --bg: rgb(255, 255, 255);
  --header-bg: #542e71;
  --error-color: red;
}

html[data-theme='dark'] {
  --header-bg: rgb(37, 37, 37);
  --color-text: #cfcfcf;
  --td-bg: rgb(85, 85, 85);
  --th-bg: rgb(46, 46, 46);
  --bg: rgb(128, 128, 128);
  --error-color: yellow;
}

body {
  font-size: 1.4rem;
  font-family: var(--font-stack);
  background: var(--bg);
}

table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  overflow: hidden;
}

table td {
  background: var(--td-bg);
  font-size: 1.5rem;
  color: var(--color-text);
}

table th {
  background: var(--th-bg);
  font-size: 1.8rem;
  color: white;
}

table td, table th {
  border: 1px solid;
  border-color: var(--color-text);
  padding: 0.5rem;
  font-weight: 700;
  width: 33%;
}

header {
  background: var(--header-bg);
  height: 6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header h1 {
  color: var(--primary-color);
  font-size: 4rem;
  text-transform: uppercase;
}

header input[type='checkbox'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  outline: 0;
}

#night-mode {
  height: 18px;
  width: 50px;
  border-radius: 13px;
  /* border: 2px solid; */
  border-color: var(--primary-color);
  background: #ffae00;
  /* box-shadow: 0px 0px 2px 0px rgb(238, 222, 0); */
  background-size: cover;
  position: relative;
}

#night-mode::before {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url("https://www.iconpacks.net/icons/2/free-sun-icon-1846-thumb.png");
  background-size: cover;
  position: absolute;
  top: -7px;
  left: -8px;
  -webkit-transition: .6s all ease;
  transition: .6s all ease;
}

#night-mode:checked {
  background: #c4c4c4;
}

#night-mode:checked::before {
  content: "";
  -webkit-transform: translateX(34px);
          transform: translateX(34px);
  background: url("https://img.icons8.com/color/452/moon-satellite.png");
  background-size: cover;
}

.erros {
  list-style: none;
  color: var(--error-color);
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: 600;
}

#form-datas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#form-datas label {
  font-size: 1.6rem;
  font-weight: 600;
  margin: auto 0;
  color: var(--color-text);
}

.input-datas {
  margin: 2rem auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}

.input-datas input {
  border-radius: 1rem;
  border: 0;
  padding: 1rem;
  outline: 0;
  background: var(--td-bg);
  color: var(--color-text);
}

.input-datas ul li {
  margin: 0 auto;
}

.buttons {
  border: 0;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--font-stack);
  border-radius: 1rem;
  cursor: pointer;
  position: absolute;
  left: 100%;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.buttons:hover {
  background: #cccccc;
}

html.transit,
html.transit *,
html.transit::before,
html.transit::after {
  -webkit-transition: 0.6s all !important;
  transition: 0.6s all !important;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

td:nth-child(4) {
  width: 1%;
  background: red;
  color: white;
}

td:nth-child(4):hover {
  background: #d45252;
  cursor: pointer;
}

.removeTransition {
  opacity: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
/*# sourceMappingURL=styles.css.map */