@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

    //Variáveis
    --font-stack: 'Open Sans', sans-serif;
    --primary-color: rgb(78, 67, 235);
    --color-text: #292929;
    --td-bg: #cfcfcf;
    --th-bg: #7a7a7a;
    --bg: rgb(255, 255, 255);
}

html[data-theme='dark']{
    --color-text: #cfcfcf;
    --td-bg: rgb(85, 85, 85);
    --th-bg: rgb(46, 46, 46);
    --bg: rgb(128, 128, 128);
}

body{
    font-size: 1.4rem;
    font-family: var(--font-stack);
    background: var(--bg);
}

table{
    width: 70%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;

    td{
        background: var(--td-bg);
    }

    th{
        background: var(--th-bg);
    }

    td, th{
        border: 1px solid;
        border-color: var(--color-text);
        padding: 0.5rem;
        font-size: 1.6rem;
        color: var(--color-text);
    }
}

header{
    background: rgb(37, 37, 37);
    height: 5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    h1{
        color: var(--primary-color);
        font-size: 4rem;
    }
    input[type='checkbox']{
        appearance: none;
        cursor: pointer;
        outline: 0;
    }
}

#night-mode{
    height: 25px;
    width: 50px;
    border-radius: 13px;
    border: 2px solid;
    border-color: var(--primary-color);
    position: relative;

    &::before{
        content: '';
        width: 18px;
        height: 17px;
        border-radius: 50%;
        background: var(--td-bg);
        position: absolute;
        top: 2px;
        left: 2px;
        transition: .6s all ease;
    }
    &:checked{
        background: var(--primary-color);
        &::before{
            transform: translateX(23px);
        }
    }
}

.erros{
    list-style: none;
    color: red;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
}

#form-datas{
    display: flex;
    justify-content: space-evenly;
    label{
        font-size: 1.6rem;
        font-weight: 600;
        margin: auto 0;
        color: var(--color-text);
    }
}

.input-datas{
    margin: 2rem auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    input{
        border-radius: 1rem;
        border: 0;
        padding: 1rem;
        outline: 0;
        background: var(--td-bg);
        color: var(--color-text);
    }

    ul{
        
        li{
            margin: 0 auto;
        }
    }
}

.buttons{
    border: 0;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: var(--font-stack);
    border-radius: 1rem;
    cursor: pointer;
}

html.transit,
html.transit *,
html.transit::before,
html.transit::after{
    transition: 0.8s all !important;
    transition-delay: 0s !important;
}