@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

@import 'createTask';
@import 'weekList';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html:root{
    --font-stack: 'Sarala', sans-serif;
    --inputs-color: #C4C4C4;
    --bg-color: #f0ebcc;
    --button-color: #3d84b8;
    --primary-color: #344fa1;
    --secondary-color: #3f3697;
}

html{
    font-size: 62.5%;
}


body{
    background: var(--bg-color);
    max-width: 100vw;
    min-height: 100vh;
}
