@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Viga&display=swap');
@import 'variables';

*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    h1{
        font-size: 40px;
        font-family: sans-serif;
    }
}

.clock{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__cell{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position: relative;

        box-sizing: border-box;
        background: lighten($clockNumber, 30%);
        border-radius: 1em;
        padding: 1em;
        width: 300px;
        span{
            color: $clockNumber;
            font-family: 'Viga', sans-serif;
            text-align: center;
            font-size: 40px;
            box-sizing: content-box;
            overflow: hidden;
        }

        .hours,
        .minutes,
        .seconds{
            width: 2em;
        }
        
    }
}
