@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import 'variables';

*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('https://www.10wallpaper.com/wallpaper/2560x1600/1606/Minimalist_interior_design_theme_HD_Wallpaper_03_2560x1600.jpg') no-repeat;
    background-position: center;
    background-size: 100% 140%;
    position: relative;

    min-height: 100vh;
    h1{
        font-size: 30px;
        font-family: $fontStack;
        font-weight: 300;
        margin-bottom: 0.2em;
        position: absolute;
        top: 20%;
        left: 53%;
        color: white;
    }
}

.clock{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    &__cell{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        position: relative;

        box-sizing: border-box;
        background: lighten($bgClock, 70%);
        border-radius: 0.6em;
        border: 2px solid lighten($clockNumber, 20%);
        padding: 0.8em 0.6em 0.6em 0.6em;
        width: 300px;
        span{
            color: $clockNumber;
            font-family: $fontStack;
            font-weight: 300;
            text-align: center;
            font-size: 40px;
            box-sizing: content-box;
            overflow: hidden;
            
            &.point{
                font-weight: 400;
                font-size: 30px;
            }
        }


        .hours,
        .minutes,
        .seconds{
            width: 2em;
            position: relative;
        }
        
        .hours{
            &::before{
                content: 'hours';
                font-size: 15px;
                position: absolute;
                top: -10%;
                left: 25%;
            }
        }
        .minutes{
            &::before{
                content: 'minutes';
                font-size: 15px;
                position: absolute;
                top: -10%;
                left: 15%;
            }
        }
        .seconds{
            &::before{
                content: 'seconds';
                font-size: 15px;
                position: absolute;
                top: -10%;
                left: 15%;
            }
        }
    }
}
